.menu{
    width: 94%;
    margin-right: 3%;
    margin-left: 3%;
    height: 10%;
    background-color: rgb(190, 187, 187);
    padding-top: 1%;
    padding-bottom: 1%;
}
.pagina_link{
    display: inline-block;
    height: 70%;
    margin-right: 3%;
    margin-left: 3%;
    padding: 1%;
    border: 2px solid black;
    box-shadow: 2px 2px 1px black;


}
.link_da_pagina{
    color: black;
    text-decoration: none;

}