#conteudo {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;

}

.cabecalho {
    width: 100%;
}

.titulo_principal {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    text-shadow: 1px 1px 0.5px black;
}

.texto {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;

}

.paragrafo {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    width: 98%;
    margin-bottom: 2%;
    
}
.imagens{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

}
.image{
    width: 100%;

}
@media (max-width: 400px) {
    .titulo_principal {
        text-align: center;
        font-size: 1.3rem;
        font-weight: 500;
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 1%;
        margin-bottom: 3%;
        text-shadow: 1px 1px 0.5px black;
    }
    .paragrafo {
        text-align: center;
        font-size: 0.7rem;
        font-weight: 300;
        width: 98%;
        margin-bottom: 1%;
    }
    
}