#conteudo{
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;

}

.cabecalho{
    width: 100%;
}
.titulo_principal{
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}